<form action="/square/results">
  <div>
    <label for="square">Enter a number</label>
  </div>

  <div>
    <input id="square" type="text" name="user_num" placeholder="What number do you want to take the square of?">
  </div>

  <button>Calculate square</button>
</form>
