<h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>

  <dt>
    Number of years
  </dt>
  
  <dt>
    Principal
  </dt>

  <dt>
    Payment
  </dt>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
